.skill {
  width: 230px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #f3f3f4;
  margin-bottom: 10px;

  &:not(:nth-child(4n)) {
    margin-right: 10px;
  }

  h4 {
    font-size: 16px;
    font-size: 400;
  }
}
