.dropdown {
    position: relative;

    &__menu {
        position: absolute;
        top: 12px;
        right: -10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 150px;
        padding: 5px 0;
        background: #f3f3f4;
        font-size: 15px;

        hr {
            color: hsl(211, 30%, 20%); //for IE
            background-color: hsla(211, 30%, 20%, .2); //for Firefox, Opera, Safari
            // border: 0 none;
            width: 140px;
            margin: 5px auto;
        }
    }

    &__item {
        color: rgb(103, 106, 108);
        text-decoration: none;
        padding: 5px 10px;
        width: 100%;
        cursor: pointer;

        &:hover {
            background: hsl(211, 30%, 80%);
            text-decoration: none;
            color: inherit;
        }
    }
}