.roadmap {
  width: 313px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #f3f3f4;
  margin-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &:not(:nth-child(3n)) {
    margin-right: 10px;
  }

  &__title {
    height: 20%;
    width: 100%;
    color: #fff;
    background-color: rgb(65, 62, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 20px;

    h4 {
      margin: 0;
    }
  }

  &__content {
    height: 55%;
    font-size: 14px;
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;

    .description {
      text-align: left;
      margin: 10px 0 0 0;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .creation {
        color: rgba(0, 0, 0, 0.67);
        font-size: 12px;
      }

      .speciality {
        border-radius: 8px;
        border: 1px solid rgb(65, 62, 160);
        padding: 3px 5px;
        font-size: 12px;
        color: rgb(65, 62, 160);
      }
    }
  }
  &__footer {
    height: 25%;
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .photos {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}
