.skills {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__searchBar {
    display: flex;
    margin-bottom: 20px;
  }

  .material-icons {
    background: #ccc;
    width: 45px;
    height: 45px;
    padding: 10px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:hover {
      background-color: #3f51b5;
    }
  }
}
