.header {
  height: 64px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background: #3f51b5;

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
.left-side {
  display: flex;
  flex-direction: row;
}
.autorizationBtn {
  width: 50px;
  height: 35px;
  border-radius: 6px;
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #f3f3f4;
    color: #000;
  }
}
.profile {
  &__link {
    cursor: pointer;
    display: flex;
    flex-wrap: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &__username {
    font-size: 18px;
    color: #f3f3f4;
    margin: 0;
    padding: 0 10px;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}
