.leftSideBar {
  background-color: #fff;
  padding: 10px;
  width: 25%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.options {
  width: 30%;
}

.tabs-area {
  width: 70%;
}

.dndnode {
  align-items: center;
  border: 1px solid #1a192b;
  border-radius: 2px;
  cursor: grab;
  display: flex;
  height: 23px;
  justify-content: center;
  padding: 4px;
  margin-bottom: 10px;

  &.input {
    border-color: #0041d0;
  }
  &.output {
    border-color: #ff0072;
  }
}
