.newSkill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-color: #fff;
  width: 600px;

  &__title {
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
  }

  &__form {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-textfield {
      margin: 0 0 15px 0;
    }
  }

  &__uploadWrapper {
    margin: 10px 0;
  }

  &__btns {
    padding: 0 15px;
    position: relative;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 15px 0;

    button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
