.auth {
    width: 100%;
    display: flex;
    justify-content: center;

    &__form {
        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__item {
        margin: 0 0 10px 0;
    }
}