.nav-wrapper {
  margin-left: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;

  &__item {
    list-style: none;
    font-weight: 400;
    color: #f3f3f4;
    margin: 0;
    padding: 0 15px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #fff;
      opacity: 1;
      transition: opacity 300ms, transform 300ms;
      transform: translate3d(-100%, 0, 0);
    }

    &:hover::after,
    &:focus::after {
      transform: translate3d(0, 0, 0);
    }
  }
}
