.App {
  text-align: center;
}
.containerGraph {
  min-height: 500px;
}
.btnLink {
  text-decoration: none;
}
.fieldsetMargin {
  margin: 13px;
}
.btn {
  width: 280px;
  height: 50px;
  text-align: left;
}
.span {
  display: flex;
  justify-content: space-between;
}
.margin-bottom {
  margin-bottom: 20px;
}
.road-map {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app-content {
  background-color: #fff;
  min-height: calc(100vh - 174px);
}
