.app-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 20px 80px;
  background-color: #f7f7f7;
  position: relative;
  bottom: 0;
  font-size: 14px;

  &__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: inherit;
}

.footer-text {
  color: rgba(0, 0, 0, 0.67);
  margin: 0;
  padding: 0;

  span {
    text-decoration: underline;
    color: inherit;
  }
}

.email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: inherit;
  }

  .email {
    margin-left: 8px;
  }
}

.material-icons {
  width: 20px;
  height: 20px;
}
