.rc {
  padding: 20px 0 1px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #08082c;

  &__title {
    margin: 0 0 20px 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .name {
      padding: 10px;
      margin: 0;
    }
  }

  &__editor {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.react_flow_wrapper {
  width: 74%;
  background-color: #fff;
  height: calc(100vh - 267px);
}
